{{#each this as |items|}}
  {{#items}}
  <div class="card text-white  mb-3" data-id="{{_id}}">
      <div class="all-items" data-id="{{_id}}">
        <h4 class="strike blah-{{_id}}" id="strike-{{_id}}"><span class="list-title">{{title}}</span> : <span class="list-text">{{text}}</span></h4>

        <div class="lala-{{_id}} hidden" data-id="{{_id}}">
          <form class="title-update " data-id="{{_id}}">
            <input required minlength='1' maxlength="150" class="input-field update-title-form-{{_id}}" type="text" placeholder="New Title" data-id="{{_id}}">
            <input class="form-btn update-title-btn" type="submit" name="item[title]" value="Update" data-id="{{_id}}">
          </form>

          <form class="text-update " data-id="{{_id}}">
            <input required minlength='1' maxlength="150" class="input-field update-text-form-{{_id}}" type="text" placeholder="New Description" data-id="{{_id}}">
            <input class="form-btn update-text-btn" type="submit" name="item[text]" value="Update" data-id="{{_id}}">
          </form>
        </div>

        <div class="btn-group" data-id="{{_id}}">
          <button type="button" name="button" class="xxx item-btn item-update-btn-{{_id}}" data-id={{_id}}>Update Your Dream</button>
          <button type="button" name="remove" class="item-btn item-remove-btn" data-id={{_id}}>Delete Dream</button>
          <button type="button" name="complete" class="item-btn item-complete-btn" data-id={{_id}}>Cross Off Dream</button>
        </div>

      </div>
    </div>
  {{/items}}
{{/each}}
